<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

</div>
<div class="row">
  <div class="well span8 offset2">
    <p>Your <strong>User Name</strong> will identify you throughout the site.</p>
    <p>It should not contain any spaces, 
       and should be longer than four characters
    </p>
    <p>It will also need to be unique, so, like, originality, guys.</p>
    <p>Your <strong>password</strong> doesn't have any restrictions,
      but it really shouldn't be 'password1', your first pet ('Tarquin the Tortoise'), or your porn name as someone who can 'type-read' will discover it at some point and then you'll be out of work for signing up to a twee site like this.</p>
  </div>
</div>
